.git
.env
dags/.env
include/.env
include/arquivos
.DS_Store
airflow_settings.yaml
__pycache__/
astro
.venv
airflow-webserver.pid
webserver_config.py
airflow.cfg
airflow.db
dags/bronze.py
dags/airbyte.py
dags/copydata.py
dags/duck_etl.py
dags/silver.py


